@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Cairo', sans-serif;
  direction: rtl;
  text-align: right;
} */

*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
  font-family: 'Cairo', sans-serif;
}

.container {
  padding: 0px 30px;
  margin: auto;
}

.title_animation {
  margin: 50px 0px;
  white-space: nowrap;
  font-size: 25px;
  overflow: hidden;
  animation: text 4.2s both steps(23) , border 0.5s;
}

@keyframes text {
  from {
    width: 0;
  }
  to {
    width: 23ch;
  }
}

