@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
}

.container {
  padding: 0px 20px;
  margin: auto;
}

.list_style {
  list-style: circle;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title_animation {
  margin: 50px 0px;
  white-space: nowrap;
  overflow: hidden;
  animation: text 2.5s both steps(23), border 0.5s;
}

@keyframes text {
  from {
    width: 0;
  }
  to {
    width: 23ch;
  }
}

@media (max-width: 1024px) {
  .navbar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100% !important;
    padding: 50px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: white;
  }
}
@media (max-width: 768px) {
  .title_animation {
    margin: 50px auto;
  }
  .landing_content {
    left: 50%;
    transform: translate(-50%, -50%) !important;
  }
}
@media (max-width: 612px) {
  .title_animation {
    font-size: 35px !important;
  }
}
@media (max-width: 506px) {
  .title_animation {
    font-size: 28px !important;
  }
}
@media (max-width: 428px) {
  .title_animation {
    font-size: 22px !important;
  }
}

.btn {
  padding: 15px 25px;
  border: unset;
  border-radius: 0.5rem;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 0.5rem;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.btn:hover {
  color: #e8e8e8;
}

.btn:hover::before {
  width: 100%;
}
.footer_list {
  font-weight: 400;
  font-size: 16px;
  color: #e1e1e1;
}
.footer_list,
.nav_list {
  cursor: pointer;
  position: relative;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.footer_list:focus,
.footer_list:hover {
  color: #fff;
}

.nav_list:focus,
.nav_list:hover {
  color: #030304;
}

.login_list:focus,
.login_list:hover {
  color: #dc715d;
}

.footer_list:focus:after,
.nav_list:focus:after,
.footer_list:hover:after,
.nav_list:hover:after {
  width: 100%;
  left: 0%;
}

.footer_list:after,
.nav_list:after {
  content: "";
  pointer-events: none;
  bottom: -4px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 1.5px;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.nav_list:after {
  background-color: #030304;
}

.footer_list:after {
  background-color: #fff;
}

.login_list:after {
  background-color: #dc715d;
}

.label-float{
  position: relative;
  padding-top: 13px;
}

.label-float input,
.label-float textarea {
  border: 1px solid lightgrey;
  border-radius: 5px;
  outline: none;
  min-width: 250px;
  padding: 15px 20px;
  font-size: 16px;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -webkit-appearance: none;
}

.label-float input:focus,
.label-float textarea:focus {
  border: 2px solid #ff9f67;
}

.label-float input::placeholder,
.label-float textarea::placeholder {
  color: transparent;
}

.label-float label {
  pointer-events: none;
  position: absolute;
  top: calc(50% - 10px);
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  background-color: white;
  padding: 5px;
  box-sizing: border-box;
}

.label-float input:required:invalid + label:before,
.label-float textarea:required:invalid + label:before {
  content: "*";
}
.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label,
.label-float textarea:focus + label,
.label-float textarea:not(:placeholder-shown) + label {
  font-size: 14px;
  top: 0;
  color: #ff9f67;
}

.table-container {
  overflow-x: auto; /* Enable horizontal scrolling */
}

.client_says .slick-list {
  margin: 0px 20px !important;
}
.customer .slick-prev {
  display: none;
}
.slick-slider svg {
  color: #ff9f67 !important;
  width: 50px;
  height: 50px;
}
.slick-prev:before, .slick-next:before {
  display: none;
}

.client_says .slick-dots li {
  width: 35px !important;
  height: 15px !important;
}
.client_says .slick-dots li.slick-active button:before {
  color: #ff9f67 !important;

}
.client_says .slick-dots li button:before {
  font-size: 10px;
}

